<header class="position-fixed container-fluid p-0" style="z-index: 999999">
  <section class="navbar bg-light titre" href="#" style="font-size: x-large">
    <!-- colapsible navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
      <a class="navbar-brand ps-4" routerLink="/" style="font-size: xx-large">SARL Rey</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="/">Accueil</a>
          <a class="nav-item nav-link" routerLink="/">Qui sommes-nous ?</a>
          <a class="nav-item nav-link" routerLink="/produits">Nos produits</a>
          <a class="nav-item nav-link" routerLink="/contact">Nous contacter</a>
        </div>
      </div>
    </nav>
  </section>
</header>
  <section class="d-flex min-vh-100 align-items-center justify-content-lg-center m-0 text-dark" style="background-image: url(assets/IMG_20230419_153337.jpg); background-size: cover">
    <div class="row  bg-light rounded-3 p-3">
      <div class="row">
        <h1 class="h1 text-center text-dark p-3">Nous contacter</h1>
      </div>
      <form id="contact-form" name="contact-form" action="mail.php" method="POST">
        <div class="row">
          <div class="col-lg-6">
            <div class="lg-form lg-0">
                <div class="row m-2">
                  <label for="name" class="col-lg-3">Nom :</label>
                  <input type="text" id="name" name="name" class="form-control col-lg" [(ngModel)]="newMessage.name">
                </div>
                <div class="row m-2">
                  <label for="name" class="col-lg-3">Prénom :</label>
                  <input type="text" id="name" name="Firstname" class="form-control col-lg"  [(ngModel)]="newMessage.firstName">
                </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="lg-form lg-0">
              <div class="row m-2">
                <label for="email" class="col-lg-3">E-mail : </label>
                <input type="text" id="phone" name="email" class="form-control col-lg" [(ngModel)]="newMessage.email" >
              </div>
              <div class="row m-2">
                <label for="phone" class="col-lg-3">Téléphone : </label>
                <input type="text" id="phone" name="phone" class="form-control col-lg" [(ngModel)]="newMessage.phone">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div>
            <div class="col-lg-12">
              <div class="lg-form lg-0">
                <div class="row m-2">
                  <label for="subject" class="col-lg-1">Objet : </label>
                  <input type="text" id="subject" name="subject" class="form-control col-lg" [(ngModel)]="newMessage.title">
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col-lg-12">
              <div class="lg-form lg-0">
                <label for="message" class="mb-2">Message : </label>
                <textarea type="text" id="message" name="message" rows="2" class="form-control lg-textarea" [(ngModel)]="newMessage.content"></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row justify-content-center mt-3">
        <button class="col-3 btn-primary text-light rounded btn-lg" type="submit" (click) ='sendMessage()'> Envoyer </button>
        <div class="status"></div>
      </div>
    </div>
  </section>
  <!--Section: Contact v.2-->
