input {
    border:none;
    outline:none;
}

input:hover {
    cursor: auto;
}
td:hover {
    cursor : auto;
}

.inputBorder {
    border : 1px solid #ccc;
    border-radius : 5px;
}
.liste {
    margin-top: 2%;
}
.search {
    background-color: #f2f2f2;
}
.titre {
    margin-top: 2%;
}
.impair {
    background-color: #f2f2f2;
}
textarea {
    resize: none;
    border: none;
    outline: none;
    width: 100%;
}
textarea:hover {
    cursor: auto;
}
.deconnection:hover {
    cursor: pointer;
}
