input {
    border:none;
    outline:none;
}

input:hover {
    cursor: auto;
}
td:hover {
    cursor : auto;
}

.inputBorder {
    border : 1px solid #ccc;
    border-radius : 5px;
}
.liste {
    margin-top: 2%;
}
.search {
    background-color: #f2f2f2;
}
.titre {
    margin-top: 2%;
}
.impair {
    background-color: #f2f2f2;
}
textarea {
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    line-height: 1.3;
    font-size: 15px;
    height: 100px;
}
textarea:hover {
    cursor: auto;
}
.deconnection:hover {
    cursor: pointer;
}
.btnWidth {
    width : 6em;
    margin: 0 0.5em;
}
.btnDiv {
    width : auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tableau {
    margin-top: 2%;
}
.btnResponsive{
    margin-right: 25px;
}
.widthResponsive {
    width: 50%;
}

input[type='file'] {
    color: rgba(0, 0, 0, 0)
  }

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    aspect-ratio: 16/9;
    object-position: center;
    padding: 5px;
}

.paddingRow{
    padding-top: 15px;
    padding-bottom: 15px;
}
.fontSize {
    font-size: 20px;
}
