<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid titre m-0" style="font-size: x-large">
  <a class="navbar-brand ps-4" routerLink="/" style="font-size: xx-large">SARL Rey</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
          aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Accueil</a>
      <a class="nav-item nav-link" routerLink="/">Qui sommes-nous ?</a>
      <a class="nav-item nav-link" routerLink="/produits">Nos produits</a>
      <a class="nav-item nav-link" routerLink="/adminProducts">Administration</a>
      <a class="nav-item nav-link" routerLink="/adminMessages">Gestion des messages</a>
    </div>
  </div>
  <div class="navbar-nav ms-auto">
    <a class="nav-item nav-link deconnection" (click)="loggout()">Déconnexion</a>
  </div>
</nav>

<div class="container-fluid">
    <div class="row titre">
        <div class="col-lg-12">
            <h1 class="text-center">Administration des produits</h1>
        </div>
        <div class="row liste mb-5">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" [ngClass]="{'widthResponsive':isSmallScreen}"><input type="text"
                    class="form-control search" placeholder="Rechercher..." (keyup)="searchProducts($event)">
            </div>
            <div *ngIf="!isSmallScreen" class="col-sm-4"><button class="btn btn-primary"
                    (click)="addingProduct()">Ajouter un produit</button>
            </div>
            <div *ngIf="isSmallScreen" class="btnDiv" (click)="addingProduct()"><i
                    class="fa-solid fa-square-plus fa-xl" style="color:#0d6efd"></i></div>
        </div>
        <div class="container-fluid" *ngIf="!isSmallScreen">
            <div class="tableau">
                <div class="row">

                    <div class="col-lg-2 offset-lg-3">
                        <h4>Nom</h4>
                    </div>
                    <div class="col-lg-2 ">
                        <h4>Description</h4>
                    </div>
                    <div class="col-lg-2 ">
                        <h4>Actions</h4>
                    </div>
                </div>
                <div class="row" *ngIf="adding">
                    <div class="col-lg-2 border offset-lg-3 border"><input class="inputBorder" type="text"
                            [(ngModel)]="newProduct.name"></div>

                    <div class="col-lg-2 border"><textarea class="inputBorder"
                            [(ngModel)]="newProduct.description"></textarea>
                    </div>
                    <div class="col-lg-2 border d-flex justify-content-center">
                        <div class="col-lg-2 btnDiv">
                            <button class="btn btn-sm btn-success btnWidth" (click)="add(newProduct)">Ajouter</button>
                            <button class="btn btn-sm btn-warning btnWidth" (click)="cancelAdding()">Annuler</button>
                        </div>
                    </div>
                </div>
                <div class="row" *ngFor="let product of listProductFilter || listProduct; let i=index">
                    <div class="col-lg-2 offset-lg-3 border" [ngClass]="{'impair': i % 2 !== 0}">
                        <input type="text" [(ngModel)]="product.name" [readOnly]="!product.editable"
                            [ngClass]="{'inputBorder':product.editable, 'impair':i % 2 !== 0}">
                    </div>
                    <div class="col-lg-2 border" [ngClass]="{'impair': i % 2 !== 0}">
                        <textarea [(ngModel)]="product.description" [readOnly]="!product.editable"
                            [ngClass]="{'inputBorder':product.editable, 'impair':i % 2 !== 0}"></textarea>
                    </div>
                    <div class="col-lg-2 border d-flex justify-content-center" [ngClass]="{'impair': i % 2 !== 0}">
                        <div *ngIf="!product.editable" class="btnDiv ">
                            <button class="btn btn-sm btn-outline-primary btnWidth "
                                (click)="toggleEditing(product)">Modifier</button>
                            <button class="btn btn-sm btn-danger btnWidth "
                                (click)="removeProduct(product)">Supprimer</button>
                        </div>
                        <div *ngIf="product.editable" class="btnDiv" [ngClass]="{'impair': i % 2 !== 0}">
                            <button class="btn btn-sm btn-success btnWidth"
                                (click)="validateProduct(product)">Valider</button>
                            <button class="btn btn-sm btn-warning btnWidth"
                                (click)="toggleEditing(product)">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isSmallScreen">

        <div class="row" *ngIf="adding">
            <div class="col 3 offset-lg-3">Nom :<input class="inputBorder" type="text" [(ngModel)]="newProduct.name">
            </div>
            <div class="col 3 d-flex justify-content-center">
                <div class="col-lg-2 btnDiv">
                    <div class="btnResponsive" (click)="add(newProduct)"><i class="fa-solid fa-square-check fa-2xl" style="color:#198754"></i>
                    </div>
                    <div (click)="cancelAdding()"><i class="fa-solid fa-square-xmark fa-2xl"style="color:#dc3545"></i></div>
                </div>
            </div>
            <div class="col-lg-2">Description :<textarea class="inputBorder" [(ngModel)]="newProduct.description"></textarea>
            </div>
        </div>

        <div class="row" *ngFor="let product of listProductFilter || listProduct; let i=index">
            <div class="col 3" [ngClass]="{'impair': i % 2 !== 0}">
                Nom : <input type="text" [(ngModel)]="product.name" [readOnly]="!product.editable"
                    [ngClass]="{'inputBorder':product.editable, 'impair':i % 2 !== 0}">
            </div>
            <div class=" col 3 d-flex justify-content-center" [ngClass]="{'impair': i % 2 !== 0}">
                <div *ngIf="!product.editable" class="btnDiv ">
                    <div class="btnResponsive" (click)="toggleEditing(product)"><i
                            class="fa-solid fa-pen-to-square fa-xl" style="color:#ffc107"></i></div>
                    <div (click)="removeProduct(product)"><i class="fa-solid fa-trash fa-xl" style="color:#dc3545"></i></div>
                </div>
                <div *ngIf="product.editable" class="btnDiv" [ngClass]="{'impair': i % 2 !== 0}">
                    <div class="btnResponsive" (click)="validateProduct(product)"><i
                            class="fa-solid fa-square-check fa-2xl" style="color:#198754"></i></div>
                    <div (click)="toggleEditing(product)"><i class="fa-solid fa-square-xmark fa-2xl" style="color:#dc3545"></i></div>
                </div>
            </div>
            <div [ngClass]="{'impair': i % 2 !== 0}">
                Description :
                <textarea [(ngModel)]="product.description" [readOnly]="!product.editable"
                    [ngClass]="{'inputBorder':product.editable, 'impair':i % 2 !== 0}"></textarea>
            </div>
        </div>
    </div>
