<!doctype html>
<html lang=fr>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Accueil</title>
</head>
<body>
  <header class="position-fixed container-fluid p-0" style="z-index: 999999">
    <section class="navbar bg-dark" href="#">
      <!-- colapsible navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
        <a class="navbar-brand ps-4"  href="#">SARL Rey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Accueil</a>
            <a class="nav-item nav-link" href="#who">Qui sommes-nous ?</a>
            <a class="nav-item nav-link" routerLink="/produits">Nos produits</a>
            <a class="nav-item nav-link" routerLink="/contact">Nous contacter</a>
          </div>
        </div>
      </nav>
    </section>
  </header>
  <section class="jumbotron min-vh-100 d-flex align-items-center" style="background-image: url(assets/IMG_20230425_164156.jpg); background-size: cover">
    <div class="container border border-5 border-white" style="backdrop-filter: blur(200px); border-radius: 10px">
      <h1 class="display-4 text-light">Bienvenue sur le site de la SARL Rey</h1>
      <p class="lead text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam illo iusto omnis, facilis animi incidunt ducimus, exercitationem, optio assumenda nam ullam commodi vitae illum unde? Magni ex necessitatibus culpa!</p>
    </div>
  </section>
  <section class="main-section bg-blue-grey pt-5 row justify-content-sm-center m-0 pb-5">
    <div class="col-lg-11">
      <div class="m-2 text-light row bg-green-weird justify-content-between rounded-3" id="who">
        <div class="image col-lg-3 p-0">
          <img class="rounded-3" src="assets/IMG_20230419_153651.jpg" alt="placeholder" style="object-fit: cover; height: 100%; width: 100%">
        </div>
        <div class="col-lg-8">
          <h1 class="display-4">Qui sommes nous?</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam illo iusto omnis, facilis animi incidunt ducimus, exercitationem, optio assumenda nam ullam commodi vitae illum unde? Magni ex necessitatibus culpa!</p>
        </div>
      </div>
      <div class="m-2 mt-5 text-light row bg-green-weird justify-content-between rounded-3" id="producs">
        <div class="col-lg-8 order-2 order-lg-1">
          <h1 class="display-4">Nos produits</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam illo iusto omnis, facilis animi incidunt ducimus, exercitationem, optio assumenda nam ullam commodi vitae illum unde? Magni ex necessitatibus culpa!</p>
          <button class="btn btn-primary m-2" routerLink="/produits">Voir nos produits</button>
        </div>
        <div class="image col-lg-3 p-0 order-1 order-lg-2">
          <img class="rounded-3" src="assets/IMG_20230425_164150.jpg" alt="placeholder" style="object-fit: cover; height: 100%; width: 100%">
        </div>
      </div>
      <div class="m-2 mt-5 text-light row bg-green-weird justify-content-between rounded-3" id="contact">
        <div class="image col-lg-3 p-0">
          <img class="rounded-3" src="https://picsum.photos/1920/1080" alt="placeholder" style="object-fit: cover; height: 100%; width: 100%">
        </div>
        <div class="col-lg-8">
          <h1 class="display-4">Nous contacter</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam illo iusto omnis, facilis animi incidunt ducimus, exercitationem, optio assumenda nam ullam commodi vitae illum unde? Magni ex necessitatibus culpa!</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-dark text-light text-center col-12 pb-5">
    <div class="pt-5 pb-5 m-0 row justify-content-md-evenly">
      <div class="row col-lg-10">
        <div class="col-lg-4">
          <h1 class="display-4">SARL Rey</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam illo iusto omnis, facilis animi incidunt ducimus, exercitationem, optio assumenda nam ullam commodi vitae illum unde? Magni ex necessitatibus culpa!</p>
        </div>
        <div class="col-lg-4">
          <h1 class="display-4">Nous contacter</h1>
          <p class="lead"> Vous avez des questions ? Besoin de renseigements sur l'entreprise et ses produits ?  Nous sommes là pour vous aider !</p>
          <button class="btn btn-primary" routerLink="/contact">Nous contacter</button>
        </div>
        <div class="col-lg-4">
          <h1 class="display-4">Nous suivre</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam illo iusto omnis, facilis animi incidunt ducimus, exercitationem, optio assumenda nam ullam commodi vitae illum unde? Magni ex necessitatibus culpa!</p>
        </div>
      </div>
    </div>
    <div>
      <h6>©SARL REY 2023 - Tous droits réservés</h6>
    </div>
  </footer>
</body>
</html>
