<!doctype html>
<html lang=fr>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Accueil</title>
</head>
<body>
  <header class="position-fixed container-fluid p-0" style="z-index: 999999">
    <section class="navbar bg-light titre" href="#" style="font-size: x-large">
      <!-- colapsible navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
        <a class="navbar-brand ps-4" href="#" style="font-size: xx-large">SARL Rey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Accueil</a>
            <a class="nav-item nav-link" href="#who">Qui sommes-nous ?</a>
            <a class="nav-item nav-link" routerLink="/produits">Nos produits</a>
            <a class="nav-item nav-link" routerLink="/contact">Nous contacter</a>
          </div>
        </div>
      </nav>
    </section>
  </header>
  <section class="jumbotron min-vh-100 text-light d-flex align-items-end align-items-start pb-5" style="background-image: url(assets/IMG_20230425_164156.jpg); background-size: cover;background-position: center">
    <div class="col-lg-8" style="padding-top: 60px;border-radius: 10px; ">
      <h1 class="display-4 p-3 titre" style="font-size: 70Pt">Bienvenue sur le site de la SARL Rey</h1>
      <p class="p-3 textes">Pour plus d'informations, vous pouvez nous contacter au 04 90 65 72 06</p>
    </div>
  </section>
  <section class="bg-light p-5 text-dark m-0 pb-5 align-items-center">
    <div class="col-lg-11 justify-content-between">
      <div class="row d-flex">
        <div class="col-lg-4">
          <img class="rounded-3" src="assets/IMG_20230419_153651.jpg" alt="placeholder" style="object-fit: cover; height: 70vh; width: 100%">
        </div>
        <div class="col-lg-8 ps-lg-5 d-flex-row">
          <div class="d-flex row">
            <h1 class="display-4 titre">Qui sommes nous?</h1>
            <p class="textes">Nous sommes une entreprise qui vend des produits pour des proffessionel et particulier, nous vendons des piquets et d'autre produits à multi-usage </p>
          </div>
          <div class="row justify-content-lg-end justify-content-center">
            <button class="btn btn-primary m-2 col-lg-2 smallTextes" routerLink="/produits">Voir nos produits</button>
            <button class="btn btn-primary m-2 col-lg-2 smallTextes" routerLink="/contact">Nous contacter</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-dark text-light text-center col-12 pb-2">
    <div class="pt-3 pb-2 m-0 row justify-content-md-evenly justify-content-center">
      <div class="row col-lg-10">
        <div class="col-lg-4 border-white">
          <h4 class="titre">SARL Rey</h4>
          <p class="smallerTextes">Entreprise à Loriol-du-Comtat au 4 Avenue de la Ramadone, nous sommes ouvert de 8h à 18h du Lundi au Vendredi</p>
        </div>
        <div class="col-lg-4 border-white">
          <h4 class="titre">Plan du site</h4>
          <ul class="list-unstyled">
            <li><a class="smallerTextes" routerLink="/">Accueil</a></li>
            <li><a class="smallerTextes" routerLink="/produits">Nos produits</a></li>
            <li><a class="smallerTextes" routerLink="/contact">Nous contacter</a></li>
          </ul>
        </div>
        <div class="col-lg-4 border-white">
          <h4 class="titre">Informations complémentaires</h4>
          <ul class="list-unstyled">
            <li><a class="smallerTextes" href="#">Mentions légales</a></li>
            <li><a class="smallerTextes" href="#">Politique de confidentialité</a></li>
            <li><a class="smallerTextes" href="#">Conditions générales de vente</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h6>©SARL REY 2023 - Tous droits réservés</h6>
    </div>
  </footer>
</body>
</html>
