<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <a class="navbar-brand ps-4" href="#">SARL Rey</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Accueil</a>
            <a class="nav-item nav-link" href="#who">Qui sommes-nous ?</a>
            <a class="nav-item nav-link" routerLink="/produits">Nos produits</a>
            <a class="nav-item nav-link" routerLink="/adminProducts">Administration</a>
        </div>
    </div>
</nav>
<div class="row titre">
    <div class="col-md-12">
        <h1 class="text-center">Administration des messages</h1>
    </div>
</div>