<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <a class="navbar-brand ps-4" href="#">SARL Rey</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Accueil</a>
            <a class="nav-item nav-link" href="#who">Qui sommes-nous ?</a>
            <a class="nav-item nav-link" routerLink="/produits">Nos produits</a>
            <a class="nav-item nav-link" routerLink="/adminProducts">Administration</a>
        </div>
    </div>
    <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link deconnection" (click)="loggout()">Déconnexion</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row titre">
        <div class="col-md-12">
            <h1 class="text-center">Administration des messages</h1>
        </div>
        <div class="row liste">
            <div class="col-md-4"></div>
            <div class="col-md-4 "><input type="text" class="form-control search" placeholder="Rechercher un produit">
            </div>
        </div>
    </div>
    <div class="row mailBox">
        <div class="col-md-3 scrollBar">
            <div class="container">
                <div *ngFor="let message of listeMessage" class="row message">
                    <div class="col-md-12">
                        <div class="card" (click)="selectMessage(message); messageRead(message)" [ngClass]="{'messageRead':message.read}">
                            <div class="card-body">
                                <div>{{message.title}}</div>
                                <div class="name">{{message.firstName}} {{message.name}}</div>
                                <div class="date">{{correctDate(message.date)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 ">
            <div class="container contentMail ">
                <div class="row" *ngIf="selectedMessage.name !== ''">
                    <div class="col-md-12">
                        <h2>{{selectedMessage.title}}</h2>
                    </div>
                </div>
                <div class="row" *ngIf="selectedMessage.name !== ''">
                    <div class="col-md-10">
                        <p>{{selectedMessage.firstName}} {{selectedMessage.name}} <{{selectedMessage.email}}>
                        </p>
                    </div>
                    <div class="col-md-2" >
                        <p>{{correctDate(selectedMessage.date)}}</p>
                    </div>
                </div>
                <div class="row mb-4" *ngIf="selectedMessage.name !== ''">
                    <div class="col-md-3">
                        <p>Tel : {{selectedMessage.phone}}</p>
                    </div>
                </div>
                <div class="row mb-3" *ngIf="selectedMessage.name !=='' ">
                    <div class="col-md-12">
                        <h5>Contenu de la demande : </h5>
                    </div>
                </div>
                <div class="row" *ngIf="selectedMessage.name !== ''">
                    <div class="col-md-12">
                        {{selectedMessage.content}}
                    </div>
                </div>
                <div class="row buttonPosition" *ngIf="selectedMessage.name !== ''">
                    <div class="col-md-12">
                        <button class="btn btn-danger" (click)="deleteMessage(selectedMessage)">Supprimer</button>
                    </div>
            </div>
        </div>
    </div>


</div>