<!doctype html>
<html lang=fr>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accueil</title>
  </head>
  <body>
    <header class="position-fixed container-fluid p-0" style="z-index: 999999">
    <section class="navbar bg-light titre" style="font-size: x-large">
      <!-- colapsible navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
        <a class="navbar-brand ps-4" routerLink="/" style="font-size: xx-large">SARL Rey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/">Accueil</a>
            <a class="nav-item nav-link" routerLink="/">Qui sommes-nous ?</a>
            <a class="nav-item nav-link" routerLink="/produits">Nos produits</a>
            <a class="nav-item nav-link" routerLink="/contact">Nous contacter</a>
          </div>
        </div>
      </nav>
    </section>
  </header>
    <section class="d-flex">
      <div style="margin-top: 72px" class="col-12">
        <section class="p-5 jumbotron d-flex align-items-center" style="background-image: url(assets/IMG_20230425_164150.jpg); background-size: cover; background-position: center">
          <div class="container border border-5 border-white" style="backdrop-filter: blur(15px); border-radius: 10px">
            <h1 class="display-4 text-light text-center titre mt-3">Nos produits</h1>
          </div>
        </section>
        <div class="col-12">
          <div>
            <div class="p-3 d-flex bg-dark">
              <div class="d-flex col-lg">
                <p class="smallerTextes text-light" >Articles: {{listProductFilter.length}} sur {{listProduct.length}}</p>
              </div>
              <div class="form d-flex col-lg-4">
                <input class="form-control mr-sm-2 d-flex" type="text" placeholder="Recherche" aria-label="Search" (keyup)="searchProducts($event)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-light container-fluid text-dark m-0 pb-5 align-items-center ">
      <div class="row justify-content-center">
        <div class="col-11 d-flex justify-content-center flex-wrap">
          <div class="col-lg-4 d-flex" *ngFor="let products of listProductFilter || listProduct">
            <div class="m-2 text-dark border-dark border row bg-light justify-content-between rounded-3" id="who">
              <div class="image p-0">
                <img class="rounded-3" src="https://picsum.photos/1920/1080" alt="placeholder" style="object-fit: cover; height: 100%; width: 100%">
              </div>
              <div class="row productInfo">
                <h1 class="display-4 titre">{{products.name}}</h1>
                <p class="smallTextes">{{products.description}}</p>
                <p class="smallTextes text-lg-end">Vendu par lots de : {{products.quantity}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-dark text-light text-center col-12 pb-2">
      <div class="pt-3 pb-2 m-0 row justify-content-md-evenly">
        <div class="row col-lg-10">
          <div class="col-lg-4 border-white">
            <h4 class="titre">SARL Rey</h4>
            <p class="smallerTextes">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam illo iusto omnis, facilis animi incidunt ducimus, exercitationem, optio assumenda nam ullam commodi vitae illum unde? Magni ex necessitatibus culpa!</p>
          </div>
          <div class="col-lg-4 border-white">
            <h4 class="titre">Plan du site</h4>
            <ul class="list-unstyled">
              <li><a class="smallerTextes" routerLink="/">Accueil</a></li>
              <li><a class="smallerTextes" routerLink="/produits">Nos produits</a></li>
              <li><a class="smallerTextes" routerLink="/contact">Nous contacter</a></li>
            </ul>
          </div>
          <div class="col-lg-4 border-white">
            <h4 class="titre">Informations complémentaires</h4>
            <ul class="list-unstyled">
              <li><a class="smallerTextes" href="#">Mentions légales</a></li>
              <li><a class="smallerTextes" href="#">Politique de confidentialité</a></li>
              <li><a class="smallerTextes" href="#">Conditions générales de vente</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <h6>©SARL REY 2023 - Tous droits réservés</h6>
      </div>
    </footer>
  </body>
</html>
