<!-- Pour test seulement  -->
<!--
 <div class="row">
    <div class="col-md-3" *ngFor="let products of listeProduct">
        <div class="d-flex justify-content-center align-items-center ">
            <p class="m-0">{{products.name}}</p>
            <p class="m-0">{{products.quantity}}</p>
        </div>
        <button (click)="removeProduct(products)">Delete</button>
        <button (click) = "selectProduct(products)"> select</button>
    </div>

</div>
<input type="text" [(ngModel)] = "selectedProduct.name">
<input type="text" [(ngModel)] = "selectedProduct.quantity">
<button (click) = "updateP(selectedProduct)">Update</button>

<input type="text" name="products" [(ngModel)]="newProduct.name">
<input type="text" name="quantity" [(ngModel)]="newProduct.quantity">
<button (click)="add(newProduct)">Ajouter</button>


<div class="row">
    <div class="col-md-3" *ngFor="let message of listeMessage">
        <div class="d-flex justify-content-center align-items-center ">
            <input (click)="updateM(message)" type="checkbox" [(ngModel)]="message.read">
            <p class="m-0">{{message.title}}</p>
            <p class="m-0">{{message.content}}</p>
            <button (click)="removeMessage(message)">message</button>
        </div>
    </div>
</div> -->



